@import "./abstracts/__abstracts-dir.scss";
@import "./base/__base-dir.scss";
@import "./layouts/__layouts-dir.scss";

#staff-title {
  color: $general-font-color;
  margin-bottom: 4px;
  text-align: center;
}

#footer {
  margin-top: 250px;
  margin-bottom: 50px;
  text-align: center;
  p {
    color: white;
  }
}

#remainder {
  z-index: 5;
  position: relative;
}
