#nav-logo-container {
    @include flex-display-row;
    align-items: center;
    margin-left: 16px;
}

#logo {
    @include flex-display-row;
    align-items: center;
    font-size: 32px;
    background-color: transparent;
}

header {
    @include flex-display-row;
    justify-content: space-between;
    margin-top: 0;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 71%, rgba(255,255,255,0) 100%);
    z-index: 10;

    img {
        height: 40px;
        width: 40px;
    }

}


button {
    background-color: transparent;
    border-style: none;
}

button:hover {
    cursor: pointer;
}

nav {
    @include flex-display-row;
    margin-right: 0;

    a {
        @include flex-display-row;
        text-decoration: none;
        height: $nav-item-height;
    }

    a,
    button {
        width: $nav-item-width;
        align-items: center;
    }



}


span,
button {
    color: $nav-font-color;
}