#nav-logo-container {
  @include flex-display-row;
  align-items: center;
  margin-left: 16px;
  cursor: pointer;
}

#logo {
  @include flex-display-row;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
}

header {
  @include flex-display-row;
  justify-content: space-between;
  margin-top: 0;
  width: 100%;
  position: fixed;
  top: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 71%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 10;

  img {
    height: 40px;
    width: 40px;
  }
}

button {
  background-color: transparent;
  border-style: none;
}

span:hover {
  cursor: pointer;
}

#web-navigation-bar {
  @include flex-display-row;
  margin-right: 0;

  a {
    @include flex-display-row;
    text-decoration: none;
    height: $nav-item-height;
  }

  a,
  button {
    width: $nav-item-width;
    align-items: center;
  }
}

span,
button {
  color: $nav-font-color;
}

span {
  font-size: 18px;
  margin: auto;
}

#mobile-navigation-bar {
  display: none;
}

@media only screen and (max-width: 500px) {
  nav {
    a,
    button {
      width: 70px;
      align-items: center;
    }
  }
  #web-navigation-bar {
    display: none;
  }

  #mobile-navigation-bar {
    display: flex;
    height: $nav-item-height;
    a{
      color: #bdc3c7;
      text-decoration: none;
      user-select:none;
      cursor: pointer;
    }
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 18px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    overflow-y: hidden;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    height: auto !important;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    height: 40px;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
