#logo {
    @include flex-display-row;
    align-items: center;
    font-size: 32px;
    margin-left: 64px;
    background-color: transparent;
}

header {
    @include flex-display-row;
    justify-content: space-between;
    margin-top: 0;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(to bottom, rgb(22, 22, 22), rgba(255, 255, 255, 0));
    z-index: 10;

}


button {
    background-color: transparent;
    border-style: none;
}

button:hover {
    cursor: pointer;
}

nav {
    @include flex-display-row;
    margin-right: 0;
    
    a {
        @include flex-display-row;
        text-decoration: none;
        height: $nav-item-height;
    }
    
    a,
    button {
        width: $nav-item-width;
        align-items: center;
    }
   
    
    
}


span,
button {
    color: $nav-font-color;
}