.person {
    @include flex-display-column;
    align-items: center;

    h3 {
        margin-top: 24px;
        font-weight: 200;
    }

    h4 {
        font-weight: 300;
        font-size: 32px;
    }

    h3,
    h4 {
        color: $general-font-color;
    }
}