#schedule{
    color: white;
    text-align: center;
    height: 100vh;
}

#events{
    border-radius: 55px;
    border: white;
    border-style: groove;
    margin-right: 2px;
    margin-bottom: 55px;
    padding-bottom: 24px;
}

h1{
    font-weight: 800;
    font-size: 64px;
}
h2{
    margin-top: 24px;
    font-weight: 100;
 }