#welcome {
    width: 100%;
    position: relative;
}

#welcome-text {
    position: absolute;
    top: 50vh;
    text-align: center;
    width: fit-content;
    padding-left: 48px;
    z-index: 3;
}

#welcome-image-container {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 2;
    img {
        z-index: 1;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.8;
        overflow-x: hidden;
    }
}